<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css" th:href="@{/css/home.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>

<form action="books"  method="post">
    <input hidden name="type" value="book">
    <p><select size="5" multiple name="id"  onclick=form.submit()>
        <body th:each="book : ${allBooks}">
        <option th:value="${book.id}" value="-1"><td th:text="${book.name}">Book</option>
        </body>
    </select></p>
</form>

<iframe th:src="${urlBook}" src="-" width="100%" height="520"></iframe>


</body>
</html>