<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css" th:href="@{/css/home.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>
<div class="container">
    <header class="header"><h1>Здравствуй, Алиса!</h1></header>
    <div class="pages">
        <div class="pages__item">
            <img th:src="@{/img/6.png}" src="../../img/6.png">
            <span><a href="list.html" th:href="@{/list}">Список заданий</a></span></div>
        <div class="pages__item">
            <img src="../../img/1-20.png" th:src="@{/img/1-20.png}">
            <span><a href="shop.html" th:href="@{/shop}">Магазин Хижины</a></span>
        </div>
        <div class="pages__item">
            <img src="../../img/21.png" th:src="@{/img/21.png}">
            <span><a href="books.html" th:href="@{/books}">Учебники</a></span>
        </div>
        <div class="pages__item">
            <img src="../../img/7.png" th:src="@{/img/7.png}">
            <span><a href="settings.html" th:href="@{/settings}">Настройки</a></span>
        </div>


    </div>
    <footer class="footer">
        <h2>У тебя всё получится!</h2>
    </footer>
</div>
</body>


</html>
