<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/list.css" th:href="@{/css/list.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>
<div class="container">
    <!-- основной контейнер-->
    <div class="daytasks_head">
        <div class="home">
            <div id="countdown" class="countdown">
                <div class="countdown-number">
                    <span class="hours countdown-time"></span>
                    <span class="countdown-text">Часов</span>
                </div>
                <div class="countdown-number">
                    <span class="minutes countdown-time"></span>
                    <span class="countdown-text">Минут</span>
                </div>
                <div class="countdown-number">
                    <span class="seconds countdown-time"></span>
                    <span class="countdown-text">Секунд</span>
                </div>
            </div>
            <label style="color: white" id="labelday">До окончания дня</label>
        </div>
        <div class="points_balance">
            <div class="points_balance__wrap">
                <dialog>
                    <form role="form" action="list" method="post">
                        <p>ВВЕДИ СЕКРЕТНЫЙ КОД</p>
                        <input name="text" id="promocode" type="text" value>
                        <button type="submit" id="close" name="type" value="promo"
                                onclick="document.pressed=this.value()">Отправить
                        </button>
                    </form>
                </dialog>
                <img src="/img/dm.png" id="show" class="points__img">
            </div>
            <div class="points_all">
                <td th:text="${balance}">000</td>
            </div>
            <div class="points_balance__wrap">
                <dialog>
                    <form>
                        <p>Это окно для отправки промокода на сервер</p>
                        <button id="close">Отправить</button>
                    </form>
                </dialog>
                <img src="/img/dm.png" id="show" class="points__img points__img_scale">
            </div>
        </div>
        <div class="progress-bar">
            <p style= "width:40%; color: white" th:style="'width:'+(100*((${curPointsProgressBar}+${allFinePoints})/(${allPoints}+${allFinePoints})))+'%'"  th:text="${curPoints}">000</p>
            <progress th:max="${allPoints}+${allFinePoints}" max="100" th:value="${curPointsProgressBar}+${allFinePoints}" value="80" class="html5"></progress>
        </div>
        <p><label> </label><a href="../home.html" th:href="@{/}" class="link">На главную страницу</a></p>

    </div>

    <div class="daytasks">

        <div class="daytime">
            <p><a name="morning"></a></p>
            <h2>
                <td th:text="${morningAmountPoints+'  за утро'}">Утро</td>
            </h2>

            <div class="task">

                <body th:each="task : ${morningTasks}">
                <td>
                    <form class="form_td">
                        <label>
                <td th:text="${task.text}">Вымыть посуду</td>
                <input type="checkbox" id="null" th:id="${task.id}" th:name="${task.timeOfDay}" onchange="fun1(this)"
                       th:checked="${task.status}"
                       class="option-input checkbox">
                </label>
                </form>
                </td>
                </body>
                <body th:each="task : ${morningTasks}">
                <td>
                    <form class="form_td">
                        <label>
                <td th:text="${task.text}">Вымыть посуду</td>
                <input type="checkbox" id="null" th:id="${task.id}" th:name="${task.timeOfDay}" onchange="fun1(this)"
                       th:checked="${task.status}"
                       class="option-input checkbox">
                </label>
                </form>
                </td>
                </body>
                <body th:each="task : ${morningTasks}">
                <td>
                    <form class="form_td">
                        <label>
                <td th:text="${task.text}">Вымыть посуду</td>
                <input type="checkbox" id="null" th:id="${task.id}" th:name="${task.timeOfDay}" onchange="fun1(this)"
                       th:checked="${task.status}"
                       class="option-input checkbox">
                </label>
                </form>
                </td>
                </body>
            </div>
            <img src="/img/5.png" alt="mayble" style="vertical-align: middle" width="170px"
                 th:src="@{/img/5.png}">

        </div>

        <div class="daytime">
            <p><a name="afternoon"></a></p>
            <h2>
                <td th:text="${afternoonAmountPoints+'  за день'}">День</td>
            </h2>
            <div class="task">

                <body th:each="task : ${afternoonTasks}">
                <td>
                    <form class="form_td"><label>
                <td th:text="${task.text}">Вымыть посуду</td>
                <input type="checkbox" id="null" th:id="${task.id}" th:name="${task.timeOfDay}" onchange="fun1(this)" th:checked="${task.status}"
                       class="option-input checkbox"></label></form></td>
                </body>
            </div>
            <img src="/img/3.png" alt="mayble" style="vertical-align: middle"
                 width="220px" th:src="@{/img/3.png}">
        </div>
        <div class="daytime">
            <p><a name="dolg"></a></p>
            <h2>
                <td th:text="${dolgAmountPoints+' за долг'}">Долг</td>
            </h2>
            <div class="task">

                <body th:each="task : ${dolgTasks}">
                <td>
                    <form class="form_td"><label>
                <td th:text="${task.text}">Вымыть посуду</td>
                <input type="checkbox" id="null" th:name="${task.timeOfDay}" th:id="${task.id}" onchange="fun1(this)" th:checked="${task.status}"
                       class="option-input checkbox"></label></form></td>
                </body>
            </div>
            <img src="/img/4.png" alt="mayble" style="vertical-align: middle" width="130px"
                 th:src="@{/img/4.png}">
        </div>
        <div class="daytime">
            <p><a name="evening"></a></p>
            <h2>
                <td th:text="${eveningAmountPoints+' за вечер'}">Вечер</td>
            </h2>
            <div class="task">

                <body th:each="task : ${eveningTasks}">
                <td>
                    <form class="form_td"><label>
                <td th:text="${task.text}">Вымыть посуду</td>
                <input type="checkbox" id="null" th:id="${task.id}" th:name="${task.timeOfDay}" onchange="fun1(this)" th:checked="${task.status}"
                       class="option-input checkbox"></label></form></td>
                </body>
            </div>
            <img src="/img/8.png" alt="mayble" style="vertical-align: middle" width="160px" th:src="@{/img       </div>
    </div>
</div>

</body>

</html>


<script>
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        if (hours < 0 || minutes < 0 || seconds < 0) {
            hours = 0;
            minutes = 0;
            seconds = 0;
        }
        return {
            'total': t,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }
        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }

    var deadtime = new Date();
    var currtime = new Date();
    if (currtime.getHours()<12){
        deadtime.setHours(12);
        deadtime.setMinutes(0);
        deadtime.setSeconds(0);
       document.getElementById("labelday").innerHTML='до окончания утра';
    }
    else if (currtime.getHours()>=12&&currtime.getHours()<16){
        deadtime.setHours(16);
        deadtime.setMinutes(0);
        deadtime.setSeconds(0);
        document.getElementById("labelday").innerHTML='до окончания дня';
    }
    else {
        deadtime.setHours(20);
        deadtime.setMinutes(0);
        deadtime.setSeconds(0);
        document.getElementById("labelday").innerHTML='до окончания вечера';
    }

   // var deadline = new Date(Date.parse(deadtime));  for endless timer


    initializeClock('countdown', deadtime);

    function fun1(chbox) {
        var form = document.createElement('form');
        form.action = '/alice/list';
        form.method = 'POST';
        var value = 'status><br><input name="id" value=' + chbox.id + '>'+'<br><input name="dayTime" value=' + chbox.name + '>';
        var name = '<input name="type" value=' + value;
        form.innerHTML = name;
        document.body.append(form);
        form.submit();
    }



    var dialog = document.querySelector('dialog');
    document.querySelector('#show').onclick = function () {
        dialog.showModal();
    };
    document.querySelector('#close').onclick = function () {
        window.location.reload();
        dialog.close();
    }
</script>


