<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/alice.css" th:href="@{/css/alice.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>


<div class="container">

    <!-- основной контейнер-->
    <div class="daytasks_head">
        <div class="points_balance">
            <div class="bill">
                <dialog>
                    <form role="form" action="list" method="post">
                        <p>ВВЕДИ СЕКРЕТНЫЙ КОД</p>
                        <input name="text" id="promocode" type="text" value>
                        <button type="submit" id="close" name="type" value="promo"
                                onclick="document.pressed=this.value()">Отправить
                        </button>
                    </form>
                </dialog>
                <img src="img/bill.png" width="100px;" id="show">
            </div>
            <div class="points_all">
                <td th:text="${balance}">000</td>
            </div>
            <div class="bill">
                <dialog>
                    <form>
                        <p>Это окно для отправки промокода на сервер</p>
                        <button id="close">Отправить</button>
                    </form>
                </dialog>
                <img src="img/bill2.1.png" width="100px;" id="show">
            </div>
        </div>
        <div class="home">
            <p><label> </label><a href="../home.html" th:href="@{/}">На главную страницу</a>
            </p>


            <div id="countdown" class="countdown">
                <div class="countdown-number">
                    <span class="hours countdown-time"></span>
                    <span class="countdown-text">Часов</span>
                </div>
                <div class="countdown-number">
                    <span class="minutes countdown-time"></span>
                    <span class="countdown-text">Минут</span>
                </div>
                <div class="countdown-number">
                    <span class="seconds countdown-time"></span>
                    <span class="countdown-text">Секунд</span>
                </div>
            </div>


        </div>
    </div>
    <div class="daytasks">
        <div class="daytime">

            <h2>
                <td th:text="${morningAmountPoints+'   Утро   '+morningAmountFinePoints}">Утро</td>
            </h2>
            <div class="task">
                <body th:each="task : ${morningTasks}">
                <td>
                    <form><label>
                <td th:text="${task.text}">Вымыть посуду</td>
                <input type="checkbox" id="null" th:id="${task.id}" onchange="fun1(this)" th:checked="${task.status}"
                       class="option-input checkbox"></label></form></p></td>
                </body>
            </div>

            <img src="img/56f54f8f8358c153ae3ec8b2.png" alt="mayble" style="vertical-align: middle" width="170px"
                 th:src="@{/img/56f54f8f8358c153ae3ec8b2.png}">
        </div>
        <div class="daytime">
            <h2>
                <td th:text="${afternoonAmountPoints+'   День   '+afternoonAmountFinePoints}">День</td>
            </h2>
            <div class="task">
                <body th:each="task : ${afternoonTasks}">
                <td>
                    <form><label>
                <td th:text="${task.text}">Вымыть посуду</td>
                <input type="checkbox" id="null" th:id="${task.id}" onchange="fun1(this)" th:checked="${task.status}"
                       class="option-input checkbox"></label></form></p></td>
                </body>
            </div>
            <img src="img/4decaaa734e702f445c3ac425893bf87.png" alt="mayble" style="vertical-align: middle"
                 width="220px" th:src="@{/img/4decaaa734e702f445c3ac425893bf87.png}">
        </div>
        <div class="daytime">
            <h2>
                <td th:text="${dolgAmountPoints+'   Долг   '+dolgAmountFinePoints}">Долг</td>
            </h2>
            <div class="task">
                <body th:each="task : ${dolgTasks}">
                <td>
                    <form><label>
                <td th:text="${task.text}">Вымыть посуду</td>
                <input type="checkbox" id="null" th:id="${task.id}" onchange="fun1(this)" th:checked="${task.status}"
                       class="option-input checkbox"></label></form></p></td>
                </body>
            </div>
            <img src="img/vendy.png" alt="mayble" style="vertical-align: middle" width="130px"
                 th:src="@{/img/vendy.png}">
        </div>
        <div class="daytime">
            <h2>
                <td th:text="${eveningAmountPoints+'   Вечер   '+eveningAmountFinePoints}">Вечер</td>
            </h2>
            <div class="task">
                <body th:each="task : ${eveningTasks}">
                <td>
                    <form><label>
                <td th:text="${task.text}">Вымыть посуду</td>
                <input type="checkbox" id="null" th:id="${task.id}" onchange="fun1(this)" th:checked="${task.status}"
                       class="option-input checkbox"></label></form></p></td>
                </body>
            </div>
            <img src="img/32.png" alt="mayble" style="vertical-align: middle" width="160px" th:src="@{/img/32.png}">
        </div>

    </div>
</div>
</body>

</html>


<script>



    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        if (hours<0||minutes<0||seconds<0){
            hours=0;
            minutes=0;
            seconds=0;
        }
        return {
            'total': t,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);

        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }
        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }
    var deadtime = new Date ();
    deadtime.setHours(20);
    deadtime.setMinutes(00);
    deadtime.setSeconds(00);
    var deadline = new Date(Date.parse(deadtime)); // for endless timer


    initializeClock('countdown', deadline);

    function fun1(chbox) {
        var form = document.createElement('form');
        form.action = '/alice/list';
        form.method = 'POST';
        var value='status><br><input name="id" value='+chbox.id+'>';

        var name =  '<input name="type" value='+value;
        form.innerHTML =name;

        document.body.append(form);
        form.submit();


    }



    </script>

    <script>

    var dialog = document.querySelector('dialog');
    document.querySelector('#show').onclick = function () {
        dialog.showModal();
    };
    document.querySelector('#close').onclick = function () {
        window.location.reload();
        dialog.close();


    }
</script>


