<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/shop.css" th:href="@{/css/shop.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>
<div class="container">
    <div class="shop-head">
        <div class="points_balance">
            <div class="points_balance__wrap">
                <dialog>
                    <form role="form" action="list" method="post">
                        <p>ВВЕДИ СЕКРЕТНЫЙ КОД</p>
                        <input name="text" id="promocode" type="text" value>
                        <button type="submit" id="close" name="type" value="promo"
                                onclick="document.pressed=this.value()">Отправить
                        </button>
                    </form>
                </dialog>
                <img src="/img/dm.png" id="show" class="points__img">
            </div>
            <div class="points_all">
                <td th:text="${balance}">000</td>
            </div>
            <div class="points_balance__wrap">
                <dialog>
                    <form>
                        <p>Это окно для отправки промокода на сервер</p>
                        <button id="close">Отправить</button>
                    </form>
                </dialog>
                <img src="/img/dm.png" id="show" class="points__img points__img_scale">
            </div>
        </div>
        <p><label> </label><a href="../home.html" th:href="@{/}" class="link">На главную страницу</a></p>
    </div>
    <div class="shop-body">
        <div class="shop-body__item">
            <h2>Волшебные вредилки</h2>
            <div class="shop-body__card">

                <body th:each="product : ${products}">
                <form action="shop" method="post">
                    <input type="hidden" name="id" th:value="${product.id}">
                    <div class="card">
                        <span>
                            <td th:text="${product.text}">игрушка за 200 рублей</td>
                        </span>
                        <button type="submit" name="type" value="buy" onclick="document.pressed=this.value()"
                                class="price">
                            <td th:text="${product.price}">000</td>
                        </button>
                    </div>
                </form>

                </body>


            </div>
        </div>
        <div class="shop-body__item">
            <h2>История покупок</h2>
            <div class="shop-body__card">

                <body th:each="purch : ${purchases}">
                <div class="card">
                    <span>
                        <td th:text="${purch.text}">dgdddgdggddg</td>
                    </span>
                    <span><td th:text="${purch.price}">000</td></span>
                </div>
                </body>
            </div>

        </div>
    </div>
</div>
</body>
</html>