* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2{
    color:  #b20000;
    font-size: 30px;
}
header{
    margin-bottom: 20px;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    background: url(../img/hp/cor.jpg) fixed center;
    background-size: cover;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 20px;
}

.pages {
    display: grid;
    grid-template-columns: auto;
    gap: 30px 10px;
}

.pages__item{
    margin: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.pages__item span a{
    color: #000;
}
.pages__item span a, h1, h2{
    text-shadow: 0 -3px 0 #f7f7b6, 0 3px 0 #ffd700, -3px 0 #e5e619, 3px 0 #e5e619, -3px -3px 0 #ffc30f, 3px -3px 0 #ffc30f, 3px 3px 0 #ffff00, -3px 3px 0 #ffff00;
    font-family: 'HP', sans-serif;
}
.pages__item img{
    width: 100px;
    margin-right: 20px;
}

.footer {
    margin-top: auto;
}

@font-face {
    font-family: 'HP';
    src: url('../fonts/HP.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
