* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    background: url(../img/hp/hall.jpg) fixed center;
    background-size: cover;
    letter-spacing: 0.2em;
    color: #fff;
    padding-bottom: 20px;
}

#labelday {
    text-decoration: underline;
    letter-spacing: 0.2em;
}


.countdown {
    margin-bottom: 10px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.countdown-number {
    padding: 8px;
    border-radius: 7px;
    background: #c2000078;
    display: inline-block;
}

.countdown-time {
    padding: 10px;
    border-radius: 3px;
    background: #1818188a;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 2px;
    font-size: 10px;
}


.daytasks_head, .dayend {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.daytasks_head p {
    margin: 0 auto;
}

dialog {
    background: rgba(255, 255, 255, 0.91);
    text-align: center;
    color: rgb(13, 56, 54);
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 530px;
}

#close {
    width: 100px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(249, 129, 77, 0.81);
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.points_balance {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 230px;
    background: url(../img/hp/Hogwartscrest.png) no-repeat center;
    background-size: contain;
}

.points_all {
    margin-top: auto;
    font-size: 50px;
    font-weight: 800;
}

.points_all, .progress-bar p, .daytime h2 {
    font-family: 'HP', sans-serif;
}
.progress-bar p, #labelday, .link{
    text-shadow: #1a1a1a 2px 2px 0;
}

.progress-bar p, #labelday, .link{
    color: rgb(246 246 246 / 94%);
}
.points_all, .daytime h2 {
    text-shadow: 0 -3px 0 #f7f7b6, 0 3px 0 #ffd700, -3px 0 #e5e619, 3px 0 #e5e619, -3px -3px 0 #ffc30f, 3px -3px 0 #ffc30f, 3px 3px 0 #ffff00, -3px 3px 0 #ffff00;
    color: #b20000;
}

.points_balance__wrap{
    display: flex;
}

#labelday, .link, .daytime h2 {
    letter-spacing: 0.3em;
}


.link, #labelday {
    font-size: 13px;
}

.points__img {
    width: 100px;
    margin-top: auto;
}

.points__img_scale {
    transform: scale(-1, 1);
}

.progress-bar {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
}

.progress-bar p {
    color: #432424;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.2em;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 3px;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 3px;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

progress::-webkit-progress-value {
    background: linear-gradient(270deg, rgba(102, 0, 0, 1) 2%, rgba(184, 20, 20, 1) 31%, rgba(199, 29, 4, 0.8575805322128851) 53%, rgba(254, 174, 0, 0.9640231092436975) 70%, rgba(252, 220, 0, 1) 83%, rgba(240, 218, 16, 1) 100%);
    border: 0;
    height: 18px;
    border-radius: 3px;
}

progress::-moz-progress-bar {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 3px;
}

.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    margin: 10px;
}

.daytasks {
    padding: 20px;
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: repeat(4, auto);
    margin: 0 auto;
}

.daytime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daytime h2 {
    margin-bottom: 10px;
}

.daytime img {
    margin-top: auto;
    width: 80%;
}

.form_td {
    color: #ffc800;
    font-weight: 700;
    background: rgb(102 0 0 / 46%) 2%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 5px;
}


@keyframes click-wave {
    0% {
        height: 4px;
        width: 4px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 7.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 15px;
    margin: 5px;
    transition: all 0.15s ease-out 0s;
    background: rgb(255 255 255);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:checked {
    background: rgb(102 0 0 / 46%) 2%;
}

.option-input:checked::before {
    height: 15px;
    width: 15px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 29.66667px;
    text-align: center;
    line-height: 20px;
    color: #88ff00;
}

.option-input:checked::after {
    -webkit-animation: click-wave 2s;
    -moz-animation: click-wave 2s;
    animation: click-wave 2s;
    background-color: #f06f10;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}
@media (max-width: 700px) {
    .daytasks {
        grid-template-columns:auto;
    }

}

@font-face {
    font-family: 'HP';
    src: url('../fonts/HP.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


